PCGS_API_KEY=
PCGS_BASE_URL=https://api.pcgs.com/publicapi

EBAY_APP_ID=
EBAY_CLIENT_SECRET=
EBAY_FINDING_ENDPOINT=https://svcs.ebay.com/services/search/FindingService/v1
EBAY_GLOBAL_ID=EBAY-US
EBAY_ENTRIES_PER_PAGE=50
EBAY_TIMEOUT_MS=10000
EBAY_CACHE_TTL_MS=3600000
EBAY_US_MIN_COMPS=8
EBAY_THROTTLE_MS=1100

PORT=3000
